.btn {
    display: flex;
    flex-direction: column;
}
h1{
    color:red;
}
h4 {
    font-size: 16px;
}

.container {
    margin: 0;
    padding: 0;
}

h5 {
    color: #fff;
    font-size: 13px;
    margin-top: 2px;
    text-align: center;
}
input{
    margin-top:20px;
    width:200px;
    text-align: start;
    padding-left:20px;
    border: 2px solid black;
    height: 40px;
}

input::after{
    content: "";
    border: 2px solid red;
    background-color: red;
    
}

ul li {
    font-size: 13px;
}

.screen {
    display: flex;
    justify-content: center;
}

.modeBtn{
    width: 700px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.manualBtn {
    display: none;
    border: 1px solid gray;
    margin-top:10px;
    padding-top:10px;
    padding-left:10px;   
    height: 420px;
    width: 700px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: lightgray;
}
.screenUser{
    margin:0 100px;
    width:700px;
}
.simulation {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-left img {
    margin-bottom: 30px;
    opacity: 0.9;
}

.btn-right img {
    margin-bottom: 30px;
    opacity: 0.9;
}

.btn-left {
    margin: 65px 0 0 20px;
}

.btn-right {
    margin: 65px 0 0 34px;
}

.led-left {
    margin: 60px 0 0 30px;
}

.led-right {
    margin: 60px 0 0 18px;
}

.red-btn {
    padding-bottom: 15px;
    display: block;
    margin: 0 auto;
}

#btnFire{
    margin-top:22px;
    margin-left:177px;
}
.led-mode {
    display: block;
    margin: 0 auto;
}

.center-btn {
    width: 240px;
    padding-left: 30px;
    display: block;
}

.on-off__btn img {
    width: 30px;
}

.span-btn {
    cursor: pointer;
}

.on-off__btn {
    display: block;
    margin: 0 auto;
}
#BRST{
    margin-bottom: 12px;
}
.switch-left {
    padding-left: 90px;
}

.switch-right {
    padding-right: 90px;
}
.spin-btn{
    display: flex;
    margin-top: 18px;
    align-items: flex-start;
    justify-content: space-between;
}
.spin-btn img{
    display: block;
    margin:0;   
}

.btn-RJ{
    filter: brightness(0.15);
}

.bottom-btn {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    flex-direction: column;
}

.bottom-btn img {
    display: block;
    margin: 0 auto;
}

.bottom-btn .col-3 {
    padding: 0;
}

.plus-minus__btn h5 {
    font-size: 18px;
    margin: 0;
}