body {
    position: relative;
}

.btn {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

.container {
    margin: 0;
    padding: 0;
}

h5 {
    color: #fff;
    font-size: 11px;
    margin-top: 0;
    text-align: center;
}

input {
    margin-top: 20px;
    width: 200px;
    text-align: start;
    border: 2px solid black;
    height: 40px;
    transition: background 0.5s linear 0s;
    background-color: #fff;
}

input:active {
    color: #ffffff;
    background: #12e458;
    transition: background 0.5s linear 0s;
}

/* CHECKBOX */
input[type="radio"] {
    width: 200px;
    border: 2px solid black;
    height: 40px;
    transition: background 0.5s linear 0s;
    position: relative;
    -webkit-appearance: none;
    background-color: #ffffff;
    cursor: pointer;

}

input[type="radio"]:after {
    display: none;
}

input[type="radio"]:checked {
    border: 3px solid #478bfb;
    background: #14da1e;
    transition: none;
}

input[type="radio"]:checked:after {
    font-weight: 900;
    content: "\f058";
    color: #fb4765;

}

ul li {
    font-size: 13px;
}

.screen {
    display: flex;
    justify-content: center;
}

.modeBtn {
    width: 900px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manualBtn {
    display: none;
    border: 1px solid gray;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 100px;
    height: 420px;
    width: 703px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: lightgray;
}


.imgScreen {
    width: 700px;
    height: 440px;
}

.imgScreen img {
    width: 100%;
}

.imgEnemy img {
    position: absolute;
    z-index: 99;
    width: 334px;
    height: 247px;
    margin: -340px 183px;
}

.focusEnemy {
    width: 100px;
    height: 50px;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: -250px;
    margin-left: 300px;
}

.simulation {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn-l{
    padding:0 4px;
}
.btn-r{
    padding:0 4px;
}
.btn-left img {
    margin-bottom: 20px;
    opacity: 0.9;
}

.btn-right img {
    margin-bottom: 20px;
    opacity: 0.9;
}

.btn-left {
    margin: 109px 0 0 14px;
}

.btn-right {
    margin: 109px 0 0 30px;
}

.led-left {
    margin: 142px 0 0 28px;
}

.led-right {
    margin: 146px 0 0 17px;
}

.red-btn {
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
}

#btnWhite {
    margin-top: -23px;
    margin-left: 7px;
}

#btnFirered {
    margin-top: 22px;
    margin-left: 0;
}

.led-mode {
    display: block;
    margin: 0 auto;
}

.center-btn {
    width: 181px;
    padding-left: 30px;
    display: block;
}

.on-off__btn img {
    width: 30px;
}

.span-btn {
    cursor: pointer;
}

.on-off__btn {
    display: block;
    margin: 0 auto;
}

#BRST {
    margin-bottom: 8px;
}

.switch-left {
    padding-left: 74px;
}

.switch-right {
    padding-right: 74px;
}

.spin-btn {
    display: flex;
    margin-top: 14px;
    align-items: flex-start;
}

.spin-btn img {
    display: block;
    margin: 0;
}

.btn-RJ {
    filter: brightness(0.15);
}

.bottom-btn {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.bottom-btn img {
    display: block;
    margin: 0 auto;
}

.bottom-btn .col-3 {
    padding: 0;
}

.plus-minus__btn h5 {
    font-size: 14px;
    margin: 0;
}

.direction {
    margin-top: -130px;
}

#leftDirect {
    margin-top: -190px;
}

.direction img {
    display: block;
    margin: 0 auto;
}